@tailwind base;
@tailwind components;
@tailwind utilities;


.device-container{
    margin-top: 30px;
    height: 200px;
    display: flex;
    box-shadow: 0 0 15px 0 #040b1a;
}

.device-img{
    margin: 10px;
}

.device-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.info-item{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 30px;
}

.indicators-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.device-indicators{
    width: 200px;
    height: 200px;
    margin: 30px;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px 0 #040b1a;
}

.temp-img{
    width: 50%;
}

.btn{    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;  
    border-radius: 8px;     
}

.btn-details {
    width: 80px;
    height: 40px; 
    color: #10fdb7;
    background-color: #0a0f1a;
    margin-right: 30px;
    align-self: center;
}

.btn-create{
    width: 150px;
    height: 40px;
    color: #0ddf00;
    background-color: #1f2937;
    margin-right: 30px;
    align-self: center;
    box-shadow: 0 0 15px 0 #040b1a;
}

.btn-back{
    width: 80px;
    height: 40px;
    color: #e4880c;
    background-color: #1f2937;
    margin-right: 30px;
    align-self: center;
    box-shadow: 0 0 15px 0 #040b1a;
}